<div class="card-footer">
  <div class="alert alert-success">
    <b>Shortened URL: </b><%= link_to "#{shortened_url}", shortened_url, only_path: true %>
    <b>Admin URL: </b><%= link_to 'detail', "links/#{@link.obfuscated_code}" %>
  </div>
</div>
